body {
    margin: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: #4285F4;;
    color: white;
}

.header-left-container {
    display: flex;
}

.header-left-container > ul {
    display: flex;
    padding-left: 0;
    padding-right: 40px;
}

.header-left-container > ul > li {
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
}